In [53]:
import pandas as pd
import random
import time
import numpy as np
import timeit
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import xgboost as xgb
from sklearn.model_selection import train_test_split

In [10]:
train_data = pd.read_csv("sales_train.csv")
items = pd.read_csv("items.csv")
test_data = pd.read_csv('test.csv')

In [ ]:
plt.boxplot(train_data["item_cnt_day"])
plt.show()
print(train_data.describe())

In [ ]:
def rem_err_values(dataset):
    """
    Remove all values that are considered to be erroneous.
    """
    dataset = dataset[dataset["item_cnt_day"] > 0] #you cannot sell negative number of items
    return dataset

def find_outliers_iforrest(dataset):
    """Take one argument (pd.dataframe) and return this dataframe without the outliers.
    Removes column "date" in the process.
    """
    start = time.time()
    dataset = dataset.drop(columns="date")
    dataset = rem_err_values(dataset)
    iso = IsolationForest()
    outlier_model = iso.fit_predict(dataset)
    mask = outlier_model != -1
    dataset = dataset.loc[mask]
    print(f'Walltime: {time.time()-start}')
    return dataset
    
def find_outliers_IQR(dataset, column):
    dataset = dataset.drop(columns="date")
    Q1 = dataset[column].quantile(0.25)
    Q3 = dataset[column].quantile(0.75)
    IQR = Q3 - Q1
    dataset = dataset[dataset[column]<(Q3+1.5*IQR)]
    return dataset

df_test = find_outliers_iforrest(train_data)

In [ ]:
print(f'Missing values per group:\n{df_test.isna().sum()}\n')
def correlation(dataset):
    corr = dataset.corr()
    corr = corr[corr<1]
    corr = abs(corr)
    print(f'{corr}\n')
    corr = corr.loc[["item_cnt_day"]]
    print(f'Percentage correlation for item_cnt_day:\n{corr.max()*100}')
correlation(df_test)

In [ ]:
def linreg(dataset):
    X = dataset[["item_id"]]
    y = dataset[["item_cnt_day"]]
    reg = LinearRegression().fit(X, y)
    pred = reg.predict(X)
    rms = mean_squared_error(y, pred, squared=False)
    return rms
    
linreg(train_data)

In [7]:
items = items.drop(['item_name'], axis = 1)
df = pd.merge(items, train_data, how = 'inner')
print(df)

         item_id  item_category_id        date  date_block_num  shop_id  \
0              0                40  01.09.2014              20       54
1              1                76  04.04.2014              15       55
2              1                76  02.04.2014              15       55
3              1                76  06.07.2014              18       55
4              1                76  04.08.2014              19       55
...          ...               ...         ...             ...      ...
2935844    22168                62  02.02.2013               1       42
2935845    22168                62  17.02.2013               1       16
2935846    22168                62  08.03.2013               2       43
2935847    22168                62  13.09.2013               8       12
2935848    22169                69  21.03.2014              14       25

         item_price  item_cnt_day
0              58.0           1.0
1            4490.0           1.0
2            4490.0           1.0
3            4490.0           1.0
4            4490.0           1.0
...             ...           ...
2935844       799.0           1.0
2935845       799.0           1.0
2935846       798.5           1.0
2935847       799.0           1.0
2935848      4349.0           1.0

[2935849 rows x 7 columns]

In [90]:
def DataPrep(items, train_data):
    items = items.drop(['item_name'], axis = 1)
    df = pd.merge(items, train_data, how = 'inner')
    df = df.drop(['date', 'item_price'], axis = 1)
    temp_data = df.groupby(['date_block_num','shop_id','item_id','item_category_id']).sum().reset_index()
    temp_data.rename(columns = {'item_cnt_day' : 'item_cnt_month'},inplace=True)
    temp_data = temp_data.pivot_table(index=['shop_id','item_id', 'item_category_id'], columns='date_block_num', values='item_cnt_month').fillna(0.0)
    return temp_data

In [91]:
temp_data = DataPrep(items, train_data)
temp_data.head()

date_block_num                     0     1    2    3    4    5    6    7   \
shop_id item_id item_category_id
0       30      40                0.0  31.0  0.0  0.0  0.0  0.0  0.0  0.0
        31      37                0.0  11.0  0.0  0.0  0.0  0.0  0.0  0.0
        32      40                6.0  10.0  0.0  0.0  0.0  0.0  0.0  0.0
        33      37                3.0   3.0  0.0  0.0  0.0  0.0  0.0  0.0
        35      40                1.0  14.0  0.0  0.0  0.0  0.0  0.0  0.0

date_block_num                     8    9   ...   24   25   26   27   28   29  \
shop_id item_id item_category_id            ...
0       30      40                0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
        31      37                0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
        32      40                0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
        33      37                0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
        35      40                0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0

date_block_num                     30   31   32   33
shop_id item_id item_category_id
0       30      40                0.0  0.0  0.0  0.0
        31      37                0.0  0.0  0.0  0.0
        32      40                0.0  0.0  0.0  0.0
        33      37                0.0  0.0  0.0  0.0
        35      40                0.0  0.0  0.0  0.0

[5 rows x 34 columns]

In [ ]:
##################

In [92]:
X = temp_data.iloc[:,  (temp_data.columns != 33)].values
y = temp_data.iloc[:, temp_data.columns == 33].values

bst = xgb.XGBRegressor()
bst.fit(X,y)
preds = bst.predict(X)
rmse = np.sqrt(mean_squared_error(preds,y))
print(rmse)

1.0653287477126545

In [93]:
submit_df = test_data.merge(temp_data, how = "left", on = ["shop_id", "item_id"]).fillna(0.0)
ids = submit_df.pop('ID')
submit_df.set_index(['shop_id', 'item_id'], inplace=True)
submit_df = submit_df.iloc[:,1:]
submit_df.head()

                  1    2    3    4    5    6    7    8    9    10  ...   24  \
shop_id item_id                                                    ...
5       5037     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  2.0
        5320     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0
        5233     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0
        5232     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0
        5268     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0

                  25   26   27   28   29   30   31   32   33
shop_id item_id
5       5037     0.0  0.0  0.0  1.0  1.0  1.0  3.0  1.0  0.0
        5320     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
        5233     0.0  0.0  0.0  3.0  2.0  0.0  1.0  3.0  1.0
        5232     0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
        5268     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 33 columns]

In [94]:
preds = bst.predict(submit_df.values)
# print(preds)
preds2 = pd.DataFrame(preds)

In [95]:
mmscaler = MinMaxScaler(feature_range=(0, 20))
preds2 = pd.DataFrame(mmscaler.fit_transform(preds2))
sub_df = pd.DataFrame({'ID':ids.values, 'item_cnt_month':preds2[0].values})
print(sub_df)

            ID  item_cnt_month
0            0        0.550191
1            1        0.540654
2            2        0.590582
3            3        0.534277
4            4        0.540654
...        ...             ...
214195  214195        0.527142
214196  214196        0.540654
214197  214197        0.502162
214198  214198        0.540654
214199  214199        0.518778

[214200 rows x 2 columns]

In [96]:
sub_df.to_csv('submission1.csv', index=False)